server:
  port: 8080

spring:
  application:
    name: hotel-scheduler
  datasource:
    url: jdbc:postgresql://scheduler-postgres:5432/hotel_scheduler
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  mail:
    host: ${MAIL_HOST:smtp.gmail.com}
    port: ${MAIL_PORT:587}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
  flyway:
    enabled: true
    locations: filesystem:db/migration
    baseline-on-migrate: true
    out-of-order: true
    validate-on-migrate: false

app:
  jwt:
    secret: ${JWT_SECRET:NUkpwZybKi2HGV0AHPf704rpGkubj94WXL7hYH7hoyDs}
    expiration: 86400000 # 24 hours
  cors:
  allowed-origins: ${CORS_ORIGINS:https://scheduler.asluxeco.org}
  notification:
    email:
      from: ${EMAIL_FROM:noreply@hotelscheduler.com}
      enabled: ${EMAIL_ENABLED:true}

logging:
  file:
    name: logs/hotel-scheduler.log
  level:
    com.hotel.scheduler: INFO
    org.springframework.security: DEBUG
  pattern:
    console: "%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"
